/* Variables */
:root {
    --imagen-tamaño: 250px;
    --icon-url: url(../DIa2/img/svg/person-svgrepo-com.svg);
  }

/* Estilos common */
header, footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #333;
}

body{
    background: rgb(241, 241, 241);
}
h1, h2 {
    color: #333;
    font-size: xxx-large;
}


.container {
    display: flex;
    align-items: center;
}

.text {
    font-size: 18px;
    margin: 0;
}


.foto {
    border-radius: 50%;
    width: var(--imagen-tamaño);
    height: var(--imagen-tamaño);
    background-image: url(../DIa2/img/as.jpg);
    background-size: cover;
}

.icon {
    border-radius: 50%;
    background: #2E2328 var(--icon-url) no-repeat center/cover;
    width: 40px;
    height: 40px;
}

.info{
    display: flex;
    align-items: center;

    h3 {
        margin-left: 10px;
    }
}

.datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#exp-info{
    --icon-url: url(../DIa2/img/svg/work-svgrepo-com.svg);
}
#edu-info{
    --icon-url: url(../DIa2/img/svg/education-cap-svgrepo-com.svg);
    
}
#curs-info{
    --icon-url: url(../DIa2/img/svg/world-svgrepo-com.svg);
}
#ref-info{
    --icon-url: url(../DIa2/img/svg/share-arrow-solid-svgrepo-com.svg);
}

.card {
    margin-bottom: 15px;
}

/* Estilos mobil */
@media only screen and (max-width: 768px) {
    main {

        margin: 0 auto;
        padding: 2rem;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }
    .body {
        width: 100%;
        margin: 0;
    }

    .foto {
        --imagen-tamaño: 200px;
        margin: auto;
    }
    .card {
        width: 100%;
    }
}

/* Estilos desktop */
@media only screen and (min-width: 769px) {
    .card {
        width: 50%;
    }

    .card-foto-nombre {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .container {
        font-size: large;
    }
}