/* Variables */
:root {
    --imagen-tamaño: 150px;
    --icon-url: url(../DIa2/img/svg/person-svgrepo-com.svg);
  }

/* Estilos common */
header, footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #333;
}

h1, h2 {
    color: #333;
    font-size: xxx-large;
}


.container {
    display: flex;
    align-items: center;
}

.text {
    font-size: 18px;
    margin: 0;
}


.foto {
    border-radius: 50%;
    width: var(--imagen-tamaño);
    height: var(--imagen-tamaño);
    background-image: url(../DIa2/img/p.jpg);
    background-size: cover;
}

.icon {
    border-radius: 50%;
    background: #2E2328 var(--icon-url) no-repeat center/cover;
    width: 40px;
    height: 40px;
}

.info{
    display: flex;
    align-items: center;

    h3 {
        margin-left: 10px;
    }
}

.datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#exp-info{
    .icon{
        --icon-url: url(../DIa2/img/svg/work-svgrepo-com.svg);
    }
}
#edu-info{
        --icon-url: url(../DIa2/img/svg/education-cap-svgrepo-com.svg);

}

/* Estilos mobil */
@media only screen and (max-width: 768px) {
    main {

        margin: 0 auto;
        padding: 2rem;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .body {
        width: 100%;
        margin: 0;
    }

    .foto {
        --imagen-tamaño: 200px;
        margin: auto;
    }
}

/* Estilos desktop */
@media only screen and (min-width: 768px) {

}