.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "im1 im1 img2"
    "img3 img4 img4";
}

.im1 {
  grid-area: im1;
  background: #d2ff02;
  padding: 32px;
}

.img2 {
  grid-area: img2;
  background: linear-gradient(180deg, #a16aff 0%, #8348e6 100%);
  color: #fff;
  padding: 32px;
  border-radius: 15px;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.card{
  display: flex;
  justify-content: space-between;

  .icons, .text {
    background: #a16bff;
    height: 50px;
    border-radius: 10px;
  }

  .icons{
    width: 50px;
  }

  .text{
    width: 80%;

    p{
      padding-left:16px;
    }
  }
}