header, footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    color: #333;
}

.container {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.my-table th {
    background-color: #9c86f9;
    color: white;
}

.my-table tr:hover {
    background-color: #ddd;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .my-table {
        font-size: 10px;
    }
}
